.image-wrapper {
  min-height: 250px;
}
.image {
  width: 100%;
  height: auto;
}
.image-loader-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  .image-loader {
    border: 7px solid #737373;
    border-top: 7px solid #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1.25s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
